<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iTestOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    
    <!--<add key="iTest.Service.AccountsUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/account"/>
    <add key="iTest.Service.CandidatesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/candidates"/>
    <add key="iTest.Service.AreasUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/areas"/>
    <add key="iTest.Service.CompaniesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/companies"/>
    <add key="iTest.Service.RolesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/roles"/>
    <add key="iTest.Service.CandidatesStatusesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/candidatestatuses"/>
    <add key="iTest.Service.PositionsStatusesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/positionstatuses"/>
    <add key="iTest.Service.ResumesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/resumes"/>
    <add key="iTest.Service.PositionsUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/positions"/>
    <add key="iTest.Service.MailTemplatesUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/mailtemplates"/>
     <add key="iTest.Service.SettingsUrl" value="http://huntercv.elasticbeanstalk.com/HunterCV.FrontSite_deploy/api/settings"/>
   <add key="iTest.Site.ForgotPasswordUrl" value="http://www.itest.co.il/addon/forgot"/>-->

    <add key="iTest.Service.AccountsUrl" value="http://localhost:2052/api/account"/>
    <add key="iTest.Service.CandidatesUrl" value="http://localhost:2052/api/candidates"/>
    <add key="iTest.Service.AreasUrl" value="http://localhost:2052/api/areas"/>
    <add key="iTest.Service.CompaniesUrl" value="http://localhost:2052/api/companies"/>
    <add key="iTest.Service.RolesUrl" value="http://localhost:2052/api/roles"/>
    <add key="iTest.Service.CandidatesStatusesUrl" value="http://localhost:2052/api/candidatestatuses"/>
    <add key="iTest.Service.PositionsStatusesUrl" value="http://localhost:2052/api/positionstatuses"/>
    <add key="iTest.Service.ResumesUrl" value="http://localhost:2052/api/resumes"/>
    <add key="iTest.Service.PositionsUrl" value="http://localhost:2052/api/positions"/>
    <add key="iTest.Service.SettingsUrl" value="http://localhost:2052/api/settings"/>
    <add key="iTest.Service.MailTemplatesUrl" value="http://localhost:2052/api/mailtemplates"/>
    <add key="iTest.Site.ForgotPasswordUrl" value="http://www.itest.co.il/addon/forgot"/>
  </appSettings>
  <userSettings>
    <iTestOutlookAddIn.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </iTestOutlookAddIn.Properties.Settings>
  </userSettings>
</configuration>