<div class="login-holder fright">
    @if (Request.IsAuthenticated) {
        <text>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Hello, " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "signup", title = "Manage" })
                <a class="signout" href="javascript:document.getElementById('logoutForm').submit()">sign out</a>
            }
        </text>
    } else {
        <a href="#" class="signup" data-reveal-id="signup">sign up</a>
        <a href="#" class="signin" data-reveal-id="signin">sign in</a>
    }
</div>
