@{
    ViewBag.Title = "Plans";
}
@*
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

<input type="hidden" name="cbt" value="Back to Kosher-Browser site & finishing Your purchase" />
<input type="hidden" name="return" value="http://localhost:2052/subscription/success?role=@(Url.Encode(System.Web.Security.Roles.GetRolesForUser()[0]))" />
<input type="hidden" name="cancel_return" value="http://localhost:2052/subscription/cancel?role=@(Url.Encode(System.Web.Security.Roles.GetRolesForUser()[0]))" />
<input type="hidden" name="custom" value="@(System.Web.Security.Roles.GetRolesForUser()[0])" />
<input type="hidden" name="lc" value="US" />
<input type="hidden" name="image_url" value="http://www.kosher-browser.com/images/paypal-150x50.png" />
<input type="hidden" name="cpp_header_image" value="http://www.kosher-browser.com/images/paypal-750x60.png" />

<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="VEXBD4R4PBF8J">
<input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

*@
<!-- BEGIN CONTENT HOLDER -->
<div id="content-wrapper">
    <section class="indent">
        <div class="container">
            <div class="grid_12">
                <h2>
                    Pricing that scales with your needs.</h2>
                <br />
                <!-- BEGIN PRICING TABLES (3 COLUMNS)-->
                <section class="pricing-tables three-cols clearfix">
                    <div class="pricing-column">
                        <div class="single-pricing-table">
                            <header class="pr-head">
                                <div class="circle-line">
                                </div>
                                <div class="circle-bg">
                                </div>
                                <h3 class="price">
                                    $ 0<sup>00</sup></h3>
                                <h4>
                                    free</h4>
                            </header>
                            <div class="pr-features">
                                <ul>
                                    <li>per month</li>
                                    <li>8 GB storage</li>
                                    <li>Enhanced security</li>
                                    <li>Real time operation</li>
                                    <li>Unlimited users</li>
                                </ul>
                            </div>
                            <footer class="pr-foot">
                                <a href="#" class="pill pill-style9"><span class="pill-inner">purchase</span></a>
                            </footer>
                        </div>
                    </div>
                    <div class="pricing-column">
                        <div class="single-pricing-table">
                            <header class="pr-head">
                                <div class="circle-line">
                                </div>
                                <div class="circle-bg">
                                </div>
                                <h3 class="price">
                                    $ 9<sup>99</sup></h3>
                                <h4>
                                    standard</h4>
                            </header>
                            <div class="pr-features">
                                <ul>
                                    <li>per month</li>
                                    <li>8 GB storage</li>
                                    <li>Enhanced security</li>
                                    <li>Real time operation</li>
                                    <li>Unlimited users</li>
                                </ul>
                            </div>
                            <footer class="pr-foot">
                                <a href="#" class="pill pill-style9"><span class="pill-inner">purchase</span></a>
                            </footer>
                        </div>
                    </div>
                    <div class="pricing-column">
                        <div class="single-pricing-table">
                            <header class="pr-head">
                                <div class="circle-line">
                                </div>
                                <div class="circle-bg">
                                </div>
                                <h3 class="price">
                                    $ 19<sup>99</sup></h3>
                                <h4>
                                    advanced</h4>
                            </header>
                            <div class="pr-features">
                                <ul>
                                    <li>per month</li>
                                    <li>8 GB storage</li>
                                    <li>Enhanced security</li>
                                    <li>Real time operation</li>
                                    <li>Unlimited users</li>
                                </ul>
                            </div>
                            <footer class="pr-foot">
                                <a href="#" class="pill pill-style9"><span class="pill-inner">purchase</span></a>
                            </footer>
                        </div>
                    </div>
                </section>
                <!-- END PRICING TABLES (3 COLUMNS) -->
            </div>
        </div>
    </section>
</div>
<!-- END CONTENT HOLDER -->
