<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="hunterCVEntities" connectionString="metadata=res://*/huntercv.csdl|res://*/huntercv.ssdl|res://*/huntercv.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=invidia2.cq4vyxk9ulpx.eu-west-1.rds.amazonaws.com,1433;initial catalog=invidiadb;persist security info=True;user id=sa;password=031943889;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>